<h3><a href='https://eur.fdplan.delfi.slb.com/studies/01D6CV8CFHYWV99F946YSJQXEG/overview'>Identify</a>&#8811;<a href='/dg1'>Gate 1</a>&#8811;
    <a href='https://eur.fdplan.delfi.slb.com/studies/01D6CV8CFHYWV99F946YSJQXEG/overview'>Select</a> &#8811;<a href='/dg2'>Gate 2</a>&#8811;
    <a href='https://eur.fdplan.delfi.slb.com/studies/01D6CV8CFHYWV99F946YSJQXEG/overview'>Develop</a> &#8811;<a href='/dg2'>FID</a>&#8811;
    <a href='https://eur.fdplan.delfi.slb.com/studies/01D6CV8CFHYWV99F946YSJQXEG/overview'>Execute</a> &#8811;<a href='/dg2'>Gate 4</a>&#8811;
</h3>